.acme-malarkey {
    text-transform: capitalize;
    font-weight: bold;
    color: #cb3837;
}

.acme-malarkey:after {
    animation: cursor-blink 0.5s ease-in-out infinite;
    content: "|";
    color: #FF5252;
}

@keyframes cursor-blink {
    1% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
